<div class="jumbotron jumbotron-fluid">
  <div class="container text-center">
    <h1 class="display-3">Fluid jumbotron</h1>
    <p class="lead">This is a modified jumbotron that occupies the entire horizontal space of its parent.</p>
  </div>
</div>

<div class="container">
	<h3 class="text-center" style="margin-bottom:30px;">Export your Trello board in 3 steps</h3>
	<div class="row">
		<div class="col-sm-4" style="padding-bottom: 20px;">
			<div class="card">
				<div class="card-block">
					<h4>Create an account</h4>
					<p>Register, confirm your email and log in.</p>
				</div>
			</div>
		</div>
		<div class="col-sm-4" style="padding-bottom: 20px;">
			<div class="card">
				<div class="card-block">
					<h4>Connect to Trello</h4>
					<p>Enter your details about your trello board.</p>
				</div>
			</div>
		</div>
		<div class="col-sm-4" style="padding-bottom: 20px;">
			<div class="card">
				<div class="card-block">
					<h4>Export</h4>
					<p>Export all cards from your board in a CSV file.</p>
				</div>
			</div>
		</div>
	</div>

	<div class="text-center">
			<a class="btn btn-primary btn-lg" href="#">Register Now</a>
	</div>
</div>
