<div class="card mb-4">
  <div class="card-block">
    <h3 class="card-title">Feature Timeline</h3>

    <h6 class="card-subtitle mb-2 text-muted">Here is what we have upcoming</h6>

    <ul class="timeline">
      <li>
        <div class="timeline-badge primary"><em class="fa fa-search"></em></div>

        <div class="timeline-panel">
          <div class="timeline-heading">
            <h5 class="timeline-title mt-2">Card Management</h5>
          </div>

          <div class="timeline-body">
            <p>View, search and filter all Trello cards here with a birds eye view.</p>
            <p class="card-text"><small class="text-muted">December 2017</small></p>
          </div>
        </div>
      </li>
      <li>
        <div class="timeline-badge"><em class="fa fa-eye"></em></div>

        <div class="timeline-panel">
          <div class="timeline-heading">
            <h5 class="timeline-title mt-2">Sprint Overview</h5>
          </div>

          <div class="timeline-body">
            <p>Look at all cards within a sprint and identify velocity based on burndown chart.</p>
            <p class="card-text"><small class="text-muted">January 2018</small></p>
          </div>
        </div>
      </li>
      <li>
        <div class="timeline-badge"><em class="fa fa-bell"></em></div>

        <div class="timeline-panel">
          <div class="timeline-heading">
            <h5 class="timeline-title mt-2">Notifications</h5>
          </div>

          <div class="timeline-body">
            <p>Better notifications so you don't miss out what is happening in Trello.</p>
            <p class="card-text"><small class="text-muted">February 2018</small></p>
          </div>
        </div>
      </li>
    </ul>
  </div>
</div>
