// Place all the styles related to the dashboards controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.download-url-section {
  background-color: #7968E6;
  border-radius: .25rem;
  height: 100px;
  color: #fff;
  padding: 1.25rem;
}
