<nav class="sidebar col-xs-12 col-sm-4 col-lg-3 col-xl-2 bg-faded sidebar-style-1">
  <h1 class="site-title">
    <%= link_to root_path, method: :get  do %>
      <em class="fa fa-rocket"></em> TrelloMax
    <% end %>
  </h1>

  <a href="#menu-toggle" class="btn btn-default" id="menu-toggle"><em class="fa fa-bars"></em></a>

  <ul class="nav nav-pills flex-column sidebar-nav">
    <li class="nav-item">
      <%= link_to dashboards_path, class: "nav-link" do %>
        <em class="fa fa-dashboard"></em> Dashboard
      <% end %>
      <%= link_to settings_dashboards_path, class: "nav-link" do %>
        <em class="fa fa-cog"></em> Settings
      <% end %>
    </li>
  </ul>

  <%= link_to destroy_user_session_path, method: :delete, class: "logout-button" do %>
    <em class="fa fa-power-off"></em> Signout
  <% end %>
</nav>
