<div class="dropdown user-dropdown col-md-6 col-lg-4 text-center text-md-right">
  <a class="btn btn-stripped dropdown-toggle" href="https://example.com" id="dropdownMenuLink" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
    <%= image_tag("profile-pic.jpg", alt: "profile photo", class: "circle float-left profile-photo", width: "50", height: "auto") %>

    <div class="username mt-1">
      <h4 class="mb-1"><%= current_user.name %></h4>
      <h6 class="text-muted">Super Admin</h6>
    </div>
  </a>

  <div class="dropdown-menu dropdown-menu-right" style="margin-right: 1.5rem;" aria-labelledby="dropdownMenuLink">
    <%= link_to dashboards_path, class: "dropdown-item" do %>
      <em class="fa fa-dashboard"></em> Dashboard</a>
    <% end %>
    <a class="dropdown-item" href="#"><em class="fa fa-sliders mr-1 disabled"></em> Preferences</a>
    <%= link_to destroy_user_session_path, method: :delete, class: "dropdown-item" do %>
      <em class="fa fa-power-off mr-1"></em> Logout</a>
    <% end %>
   </div>
</div>
