<nav class="navbar sticky-top navbar-light bg-faded">
	<ul class="nav justify-content-end">
		<a class="navbar-brand mr-auto" href="#">Exello</a>
	  <li class="nav-item">
	    <a class="nav-link" href="#">Sign In</a>
	  </li>
		<li class="nav-item">
			<a class="btn btn-primary" href="#">Register</a>
		</li>
	</ul>
</nav>
